*{
  background-color: rgb(91, 119, 140);
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left{
  
  background-color: rgb(163, 170, 170);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 500px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.left2{
  
  background-color: aqua;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 500px; /* Set the width of the sidebar */
  position:absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.right{
  width: 500px;
  margin-left: 500px;
  background-color: rgb(122, 129, 136);
}


.stacking-slide {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;


   &:nth-last-child(1) {
      height: 100vh;
   }
}

.bottom{
  background-color: rgb(101, 101, 110);
  height: 200px;
  text-align: center;
}
.bottom h1{
  font-size: 32;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.top{
  background-color: blue;
  
}